{
  "extends": "airbnb",
  "plugins": [],
  "rules": {
    "func-names": "off",
    "comma-dangle": "off",
    "camelcase": "off",
    "max-len": [
      "error",
      100,
      4,
      {
        "ignorePattern": "/.+/",
        "ignoreUrls": true
      }
    ],
    "strict": "off",
    "prefer-rest-params": "off"
  }
}